MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/student-admission?retryWrites=true&w=majority
JWT_SECRET=your_jwt_secret_here
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your-email@example.com
EMAIL_PASS=your-email-password
GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com
